<div class="container-fluid bg-dark">
    <div class="row min-vh-100">
        <div class="col-8 offset-2 my-auto">
            <div class="row min-vh-100">
                <div class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 my-auto">
                    <div class="card shadow-lg" style="z-index: 2;">
                        <div class="card-body">
                          <div class="row my-3">
                              <div class="col-12">
                                <label for="nombre">Usuario</label>
                                <div class="input-group mb-3">
                                    <input [(ngModel)]="key.usuario" class="form-control" name="usuario" type="text">
                                </div>
                              </div>
                              <div class="col-12">
                                <label for="nombre">Contraseña</label>
                                <div class="input-group mb-5">
                                    <input (keyup.enter)="login()" [(ngModel)]="key.clave" class="form-control" name="pass" type="password">
                                </div>
                              </div>
                              <div class="col-12">
                                    <button [class.dis]="loading" (click)="login()" class="btn btn-sm btn-block btn-primary m">
                                      <span [hidden]="loading">INGRESAR</span>
                                      <span [hidden]="!loading"><i class="fas fa-circle-notch fa-spin"></i></span>
                                    </button>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="text-center">
            <img src="assets/img/personal-blanco.png" style="width: 120px;height: auto;" alt="">
        </div>
        <h6 class="text-white text-center">GIS - Teco</h6>
    </div>
</div>
