<div class="row">
    <div class="col-12">
        <h2 class="mt-4">Zonas Operativas</h2>
    </div>
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Zonas Operativas</li>
            </ol>
        </nav>  
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 10%;" class="text-center">#</th>
                        <th [style.width]="i.w + '%'" *ngFor="let i of headers">{{i.nombre}}</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th style="width: 10%;" class="text-center">#</th>
                        <th [style.width]="i.w + '%'" *ngFor="let i of headers">{{i.nombre}}</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let i of zonasOperativas | paginate: { id: 'server', itemsPerPage: 20, currentPage: p }; index as j;">
                        <td class="text-center">{{j+1}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.identification.split(',')[0] + ' - ' + i.identification.split(',')[2]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination-controls class="my-pagination text-center" id="server" (pageChange)="p=$event" maxSize="10"
        previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>