.nav-link:hover {
    background-color: #343a40;
}

.nav-link:hover i {
    color: #2780e3;
}

.nav-link-active {
    background-color: #343a40;
    border-right: 3px solid #2780e3;
}

.nav-link-active{
    color: #ffffff !important;
}

.nav-link-active i {
    color: #2780e3;
}

