<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">
            <img src="assets/img/personal-blanco.png" alt="Personal" style="width: 100px;height: auto;">
        </a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form> -->
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Perfil</a>
                    <!-- <a class="dropdown-item" href="#">Activity Log</a> -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading text-white m">MENÚ</div>
                        <a (click)="changeRoute(j)" class="nav-link" *ngFor="let i of items; index as j;" routerLink="{{i.route}}" [class.nav-link-active]="active.index == j">
                            <div class="sb-nav-link-icon"><i class="{{i.icon}}"></i></div>
                            {{i.nombre}}
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer" style="border-top: 3px solid #0d6efd;">
                    <div class="small">Usuario logueado:</div>
                    <span class="font-weight-bolder text-white m">larreadi</span>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <!-- <h1 class="mt-4">Sidenav Light</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Sidenav Light</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            This page is an example of using the light side navigation option. By appending the
                            <code>.sb-sidenav-light</code>
                            class to the
                            <code>.sb-sidenav</code>
                            class, the side navigation will take on a light color scheme. The
                            <code>.sb-sidenav-dark</code>
                            is also available for a darker option.
                        </div>
                    </div> -->
                    <router-outlet></router-outlet>
                </div>
            </main>
            <!-- <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2020</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer> -->
        </div>
    </div>
</body>