/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

p, a, h1, h2, h3, h4, h5, h6, label, .m, th, td {
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 3px solid #0d6efd !important;
}

td, th {
    font-size: 13px;
}

label {
    color: #2780e3 !important;
    font-size: 13px;
}